body,
html,
.body {
  width: 100%;
  background: $white !important;
  background-color: $white !important;
  font-family: "Roboto", sans-serif !important;
}

a {
  color: $black !important;
  text-decoration: underline !important;
}

p {
  padding: 0;
  margin: 0;
}

.top {
  .columns {
    p {
      font-size: 0.6rem !important;
    }
  }
}

.site-link {
  .columns {
    a {
      font-size: 0.75rem !important;
    }
  }
}

.logo {
  .columns {
    padding-bottom: 0 !important;
    img {
      width: 50%;
    }
  }
}

.list {
  .columns {
    p {
      font-size: $h5-font-size;
    }
  }
}

.banner {
  background-color: $black;
  color: $white;
  .columns {
    th {
      padding-top: 1rem;
    }
  }
  &-text {
    font-size: $h5-font-size;
    font-weight: 200;
    color: $white;
  }
}

.hero {
  background-color: #d3d7d7 !important;
  padding-bottom: 0 !important;
  margin-bottom: 1rem;
  .columns {
    padding: 0 !important;
  }
  img {
    width: 100%;
  }
  &-headline {
    font-size: $h2-font-size;
  }
  &-title {
    font-family: "Nanum Myeongjo", serif !important;
    font-size: 45px;
    font-weight: bold;
  }
}

.shop-now {
  font-size: $global-font-size;
  font-weight: 600 !important;
  color: $black;
}

.featured {
  .columns {
    padding: 0 !important;
  }
  img {
    width: 75%;
  }
  &-title {
    font-family: "Nanum Myeongjo", serif;
    font-size: 38px;
    font-weight: bold;
  }
  &-description {
    font-size: $h4-font-size;
    font-weight: 600;
  }
}

.product {
  p {
    padding-bottom: 10px;
  }
  &-title {
    font-family: "Nanum Myeongjo", serif;
    font-size: $h3-font-size;
  }
}

.designer {
  .columns {
    padding-bottom: 0 !important;
  }
  &-title {
    font-size: $h3-font-size;
    padding-bottom: 10px !important;
  }
  &-feature {
    font-family: "Nanum Myeongjo", serif;
    font-size: $h3-font-size;
    font-weight: bold;
    padding-bottom: 10px !important;
  }
  &-description {
    padding-bottom: 10px !important;
  }
}

.markdown {
  .row {
    margin-bottom: 5px;
  }
  .columns {
    padding: 0 !important;
    p {
      color: $white !important;
    }
  }
  &-card {
    background-color: #5ac2ab;
    &-deal {
      margin-top: 10px;
      font-size: $h3-font-size !important;
      span {
        font-weight: 700;
      }
    }
    &-title {
      font-family: "Nanum Myeongjo", serif;
      font-size: $h1-font-size;
    }
    &-links {
      margin-top: 0.5rem !important;
      margin-bottom: 1rem !important;
      .columns {
        a {
          color: rgb(223, 223, 223) !important;
          font-size: 1rem !important;
          font-weight: bold;
        }
      }
    }
    &-description {
      color: rgb(223, 223, 223) !important;
    }
  }
}

.up-sale {
  font-size: $h4-font-size;
}

/* ======= footer ======= */
.footer-top-spacer {
  tr {
    border-top: 1px solid $black;
  }
}
.social {
  .columns {
    padding-bottom: 0 !important;
  }
  &-icon {
    width: 28px !important;
  }
}

.contact {
  .columns {
    p {
      font-size: 10px !important;
    }
    a {
      color: #2199e8 !important;
    }
  }
}

.disclaimer {
  .columns {
    p {
      font-size: 10px !important;
    }
  }
}

.footer-links {
  .columns {
    a {
      font-size: 10px !important;
    }
  }
}

.address {
  .columns {
    p {
      font-size: 10px !important;
    }
  }
}
