body,
html,
.body {
  width: 100%;
  background: $white !important;
  background-color: $light-gray !important;
}

a {
  color: $black !important;
  text-decoration: underline !important;
}

p {
  padding: 0;
  margin: 0;
}

.top {
  .columns {
    p {
      font-size: 0.6rem !important;
    }
  }
}

.site-link {
  .columns {
    a {
      font-size: 0.75rem !important;
    }
  }
}

.logo {
  .columns {
    padding-bottom: 0 !important;
    img {
      width: 50%;
    }
  }
}

.list {
  .columns {
    p {
      font-size: $h5-font-size;
    }
  }
}

.banner {
  background-color: $black;
  color: $white;
  .columns {
    th {
      padding-top: 1rem;
    }
  }
  &-text {
    font-size: $h5-font-size;
    font-weight: 200;
    color: $white;
  }
}

.hero {
  background-color: #d3d7d7 !important;
  padding-bottom: 0 !important;
  margin-bottom: 1rem;
  .columns {
    padding: 0 !important;
  }
  img {
    width: 100%;
  }
  &-headline {
    font-size: $h2-font-size;
  }
  &-title {
    font-size: 45px;
  }
}

.shop-now {
  font-size: $h6-font-size;
  font-weight: 600 !important;
}

.featured {
  .columns {
    padding: 0 !important;
  }
  img {
    width: 75%;
  }
  &-title {
    font-size: $h3-font-size;
    font-weight: 700;
  }
  &-description {
    font-size: $h4-font-size;
    font-weight: 600;
  }
}

.product {
  p {
    padding-bottom: 10px;
  }
  &-title {
    font-size: $h3-font-size;
  }
}

.designer {
  &-title {
    font-size: $h3-font-size;
  }
  &-feature {
    font-size: $h3-font-size;
    font-family: none !important;
  }
}

.markdown {
  .row {
    margin-bottom: 5px;
  }
  .columns {
    padding: 0 !important;
    p {
      color: $white !important;
    }
  }
  &-card {
    background-color: #5ac2ab;
    margin-left: 10px !important;
    margin-right: 10px !important;
    &-deal {
      margin-top: 10px;
      font-size: $h3-font-size !important;
      span {
        font-weight: 700;
      }
    }
    &-title {
      font-size: $h1-font-size;
      font-family: none;
    }
    &-links {
      margin-top: 0.5rem !important;
      margin-bottom: 1rem !important;
      .columns {
        a {
          color: $white !important;
          font-size: 0.9rem !important;
        }
      }
    }
  }
}

.social {
  .columns {
    padding-bottom: 0 !important;
  }
  img {
    width: 50px;
  }
}

.contact {
  a {
    color: #2199e8 !important;
  }
}
