body,
html,
.body {
  background: #f3f3f3 !important;
}

a {
  text-decoration: underline;
}

p {
  font-size: 0.7rem;
}

th.menu-item {
  margin: 0;
  padding: 0;
  a {
    color: black !important;
    font-size: 0.7rem;
  }
}

.border-top {
  border-top: 1px solid black;
}
