<container>
  <row class="border-top"></row>
  <spacer size="20"></spacer>
  <row>
    <columns>
      <p class="text-center">
        To ensure delivery to your indox, please add
        <a href="/#">info@email.lordandtaylor.com</a>to your address
        book/contacts.
      </p>
    </columns>
  </row>
  <row>
    <center>
      <menu>
        <item><a href="#">Privacy policy</a></item>
        <item><a href="#">Terms & Conditions</a></item>
        <item><a href="#">Unsubscribe</a></item>
      </menu>
    </center>
  </row>
</container>
