<container>
  <spacer class="footer-top-spacer" size="30"></spacer>

  <row class="social">
    <columns small="2" large="3"></columns>
    <columns>
      <row>
        <columns small="2" large="3"></columns>
        {{#each footer.logos}}
        <columns>
          <center>
            <img
              class="social-icon"
              src="{{this.img_url}}"
              alt="{{this.title}}"
            />
          </center>
        </columns>
        {{/each}}
        <columns small="2" large="3"></columns>
      </row>
    </columns>
    <columns small="2" large="3"></columns>
  </row>

  <spacer size="30"></spacer>

  <row class="contact">
    <columns small="1" large="1"></columns>
    <columns small="10" large="10">
      <p class="text-center">
        To ensure delivery to your indox, please add
        <a href="/#">info@email.lordandtaylor.com</a>to your address
        book/contacts.
      </p>
    </columns>
    <columns small="1" large="1"></columns>
  </row>

  <spacer size="10"></spacer>

  <row class="disclaimer">
    <columns small="1" large="1"></columns>
    <columns small="10" large="10">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nisi
        ex aliquam rerum laboriosam possimus quas assumenda praesentium nemo?
        Tempore eaque porro accusamus, quia vero reiciendis praesentium? Neque
        veritatis inventore cupiditate temporibus! Voluptatem mollitia nostrum
        officia aliquam rem magni eligendi adipisci autem deserunt. Quibusdam
        aliquid exercitationem voluptates similique enim tenetur laudantium.
        Quasi commodi obcaecati a temporibus quas minima provident ut maxime.
        Maxime beatae doloremque vel ipsam expedita harum, architecto voluptas
        perferendis quidem ea? Ea, nesciunt sint eaque corrupti suscipit
        architecto blanditiis consectetur voluptatem non, delectus nostrum
        exercitationem quia perferendis natus laborum at beatae quibusdam! Eum
        hic rerum placeat minima. Culpa!
      </p>
    </columns>
    <columns small="1" large="1"></columns>
  </row>

  <row class="footer-links">
    <columns>
      <center>
        <a href="#">Privacy Policy</a> | <a href="#">Term & Conditions</a> |
        <a href="#">Unsubscribe</a>
      </center>
    </columns>
  </row>

  <row class="address">
    <columns>
      <row><p class="text-center">{{data.title}}</p></row>
      <row><p class="text-center">275 Madison Avenue</p></row>
      <row><p class="text-center">New York, NY 10016</p></row>
    </columns>
  </row>
</container>
